@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url(//db.onlinewebfonts.com/c/be9a43357e0fe07642191e4b32995385?family=AvenirNextLTW02-Regular);
@import url(//db.onlinewebfonts.com/c/250335a106a8ab0517c821001753b335?family=AvenirNextW05-Italic);

/* ----------------------------------------------------HEADER---------------------------------------------------------------------------- */
.Header {
  background-image: url(https://i.imgur.com/Koun0UL.png);
  height: 15em;
  background-attachment: fixed;
  background-size: cover;
}
.header-title {
  background-color: #173a3a;
  padding: 1em;
  color: #939745;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  margin: 2em;
  /* falta tipografia tamaño */
}
/* mediaqueries */
@media (max-width: 600px) {
  .Header {
    background-size: auto;
  }
}
/* ---------------------------------------------------HOME--------------------------------------------------------------------------- 

/* ----------------------------------------------------FOOTER---------------------------------------------------------------------------- */
.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #939745;
}
/* .footerFila1{
  display: flex;
  justify-content: space-evenly;
}

.footerFila2{
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
  
} 
.icon{
  margin-right: 10px;
}

/* ----------------------------------------------------APADRINA_COMPONENT---------------------------------------------------------------------------- */

.section3-grid {
  width: 100%;
  display: flex;
  flex-direction: row;

  color: #fff;
  /* grid-template-columns: auto auto auto; */
}
.apadrina {
  background-color: #939745;
  width: 33.33%;
  height: 15rem;
}
.img-grid {
  width: 33.33%;
  height: 15rem;
  background-size: cover;
}
.img-caballo {
  width: 100%;
  height: 15rem;
}
.donacio {
  width: 33.33%;
  background-color: #173a3a;
  height: 15rem;
}

/* Detalle del producto */

.detail_content {
  margin: 3rem;
  width: 100%;
  display: flex;
}

.detail_image_container {
  width: 30%;
  display: grid;
  display: flex;
}

.up_detail_image_row {
  width: 30%;
}
.detail_image {
  width: 50%;
}

.detail_text {
  width: 100%;
}

/* ---------------------------------------------------PAGAMENT-COMPONENT--------------------------------------------------------------------------- */

.banner {
  width: 250px;
}
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
